{%extends "base/base.html"%}
{%block content%}
<legend class="border-bottom mb-4">Welcome to your profile, {{user.first_name}}</legend>
<body>
    <div style="float: left;">
    <ol style="margin: 5px 5px 5px 15px; ">
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">First Name:</div> <div class="profile-element"> {{user.first_name}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Last Name:</div> <div class="profile-element"> {{user.last_name}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Email:</div> <div class="profile-element"> {{user.email}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Address:</div> <div class="profile-element"> {{profile.address}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Phone Number:</div> <div class="profile-element"> {{profile.phone_number}}</div></li>
    </ol>
    </div>
    <legend class="border-bottom mb-4">Your  Upcoming Appointments</legend>
    <div>
        <ol style="margin: 5px 5px 5px 15px; ">
        {%if appointments%}
            {%for app in appointments%}
            <li class="d-flex flex-row align-items-start justify-content-start">{{app}}</li>
            {%endfor%}
        {%else%}
        <p>You Have No Appointments Scheduled</p>
        {%endif%}        
    </ol>
    </div>
    <legend class="border-bottom mb-4">Your Previous Appointments</legend>
    <div>
        <ol style="margin: 5px 5px 5px 15px; ">
        {%if passed_appointments%}
            {%for app in passed_appointments%}
            <li class="d-flex flex-row align-items-start justify-content-start">{{app}}</li>
            {%endfor%}
        {%else%}
        <p>You Have Not Yet Attended Any Appointments</p>
        {%if appointments%}
        {%else%}
        <div class="border-top pt-3">
                <small class="text-muted">
                <a class="ml-2" href="{% url 'appointment' %}"> Take Your First Appointment Now!</a>
                </small>
            </div>
        {%endif%}
        {%endif%}        
    </ol>
    </div>
    <legend class="border-bottom mb-4">Your Uploaded Files</legend>
    <div>
        <ol style="margin: 5px 5px 5px 15px; ">
        {%if files%}
            {%for f in files%}
            <li class="d-flex flex-row align-items-start justify-content-start"><a class="profile-element" href="{%url 'get-file' f.description%}">{{f.description}}</a></li>
            {%endfor%}
        {%else%}
        <p>You Have Not Yet Uploaded Any Files</p>
        {%endif%}        
    </ol>
    </div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload a File!</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload</button>
            </div>
        </form>
    </div>
</body>
{%endblock content%}