{% extends "base/base.html" %}
{%block content%}
            <div class="background_image" >
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content">
                                    <div class="home_subtitle">#1 Plastic Surgery Clinic</div>
                                    <div class="home_title">Love the new you</div>
                                    <div class="home_text"><p>Dr. Samer Serhal is the best in the middle east<p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
{%endblock content%}