{%extends "base/base.html"%}
{%block content%}
<legend class="border-bottom mb-4">{{requested_user.first_name}} {{requested_user.last_name}}'s Profile</legend>
<body>
    <div style="float: left;">
    <ol style="margin: 5px 5px 5px 15px; ">
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">First Name:</div> <div class="profile-element"> {{requested_user.first_name}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Last Name:</div> <div class="profile-element"> {{requested_user.last_name}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Email:</div> <div class="profile-element"> {{requested_user.email}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Address:</div> <div class="profile-element"> {{profile.address}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Phone Number:</div> <div class="profile-element"> {{profile.phone_number}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Date Of Birth:</div> <div class="profile-element"> {{record.date_of_birth}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Medical History:</div> <div class="profile-element"> {{record.medical_history}}</div></li>
        <li class="d-flex flex-row align-items-start justify-content-start"><div class="profile-title">Blood  Type:</div> <div class="profile-element"> {{record.blood_type}}</div></li>

    </ol>
    </div>
    <legend class="border-bottom mb-4">{{requested_user.first_name}}'s Upcoming Appointments</legend>
    <div>
        <ol style="margin: 5px 5px 5px 15px; ">
        {%if upcoming_appointments%}
            {%for app in upcoming_appointments%}
            <li class="d-flex flex-row align-items-start justify-content-start">{{app}} <a style="margin-left:50px;" href="{%url 'modify' app.id%}">Modify This Appointment</a><a style="margin-left:50px;" href="{%url 'delete' app.id%}">Delete This Appointment</a> </li>
            {%endfor%}
        {%else%}
        <p>{{requested_user.first_name}} Has No Appointments Scheduled</p>
        {%endif%}        
    </ol>
    </div>
    <legend class="border-bottom mb-4">{{requested_user.first_name}}'s Previous Appointments</legend>
    <div>
        <ol style="margin: 5px 5px 5px 15px; ">
        {%if previous_appointments%}
            {%for app in previous_appointments%}
            <li class="d-flex flex-row align-items-start justify-content-start">{{app}} <a style="margin-left:50px;" href="{%url 'mark-as-missed' app.id%}">Mark As Missed</a></li>
            {%endfor%}
        {%else%}
        <p>{{requested_user.first_name}} Has Not Yet Attended Any Appointments</p>
        {%endif%}        
    </ol>
    </div>
    <legend class="border-bottom mb-4">{{requested_user.first_name}}'s Uploaded Files</legend>
    <div>
        <ol style="margin: 5px 5px 5px 15px; ">
        {%if files%}
            {%for f in files%}
            <li class="d-flex flex-row align-items-start justify-content-start"><a class="profile-element" href="{%url 'get-file' f.description%}">{{f.description}}</a></li>
            {%endfor%}
        {%else%}
        <p>{{requested_user.first_name}} Has Not Yet Uploaded Any Files</p>
        {%endif%}        
    </ol>
    </div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Request a Document!</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send Request</button>
            </div>
        </form>
    </div>
</body>
{%endblock content%}